
@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.container {

	margin-bottom: 50px;

	padding: 10px;
	border-radius: 15px;

	.group_name {
		color: #5B5B64;
		font-size: 18px;
	}

	.content {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 10px;

		flex-wrap: wrap;
	}
}