
@mixin page-container {
	display: flex;
	flex-direction: column;
	padding: 28px 32px;
	width: 100%;
	max-width: 1200px;
	align-self: center;

	@media (max-width: 768px) {
		padding: 20px 16px;
	}
}

@mixin center-element {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

@mixin icon-element {
	aspect-ratio: 1 / 1;
	width: 30px;
	height: 30px;
}